<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pl.droidsonroids.toast">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="pl.droidsonroids.toast.app.ToastApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="pl.droidsonroids.toast.app.home.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".app.speakers.SpeakersSearchActivity"
            android:parentActivityName=".app.home.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Dialog"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".app.events.EventDetailsActivity"
            android:label=""
            android:parentActivityName=".app.home.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar"/>
        <activity
            android:name=".app.speakers.SpeakerDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".app.events.TalkDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar.Dialog.TranslucentStatusBar"/>
        <activity
            android:name=".app.photos.PhotosActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".app.photos.PhotosViewerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.SinglePhoto"/>
    </application>

</manifest>